.topbar-appBar {
  height: 60;
  justify-content: "center";
}
.link-appbar{
  text-decoration: none;
  margin-left: 20px;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}
.logout-button{
  margin-left: auto; /* Đẩy nút logout-button sang phải */
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  background: none; /* Loại bỏ nền mặc định của button */
  border: none; /* Loại bỏ viền mặc định của button */
  cursor: pointer; /* Thêm con trỏ pointer */
}